body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
  }
  nav {
    padding: 20px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav svg {
    width: 80%;
  }
  nav .menu {
    color: #00aeff;
    font-size: 30px;
  }

  .text {
    font-size: 50px;
    color: #2d3031;
    padding: 20px;
  }
  .btns {
    padding: 20px;
  }
  .b1 {
    padding: 20px 50px;
    border: 1px solid #00aeff;
    background: #fff;
    border-radius: 3px;
    font-size: 12px;
    color: #00aeff;
    font-weight: 700;
  }
  .b2 {
    padding: 20px;
    background-color: #00aeff;
    border: 0;
    margin-left: 20px;
    border-radius: 3px;
    color: #fff;
  }
  footer {
    background-color: #00aeff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding: 20px;
    font-weight: 700;
    font-size: 12px;
  }
  footer .fright {
    display: flex;
  }
  .fright svg {
    margin-left: 20px;
  }
  .fleft p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
  }
  main {
    padding: 20px;
    display: flex;
  }
  .images img {
    width: 100%;
  }
